In [1]:
#Aim: To create the dataframe

In [2]:
# name : prashansha sahastrabuddhe
# roll no : 54
#sec : A (CSE)
#date : 25/08/2025

In [3]:
#importing pandas library
import pandas as pd

In [4]:
#Creating data frame
df=pd.DataFrame([[10,20,12,40,70],[20,10,60,70,30],[30,70,80,90,40]],columns=["CD","DBMS","DSS","CAO","DM"])

In [5]:
df

   CD  DBMS  DSS  CAO  DM
0  10    20   12   40  70
1  20    10   60   70  30
2  30    70   80   90  40

In [6]:
df.shape

(3, 5)

In [7]:
df.size

15

In [8]:
df.ndim

2

In [9]:
#Adding row in the dataframe
df2 =pd.DataFrame([[5,6,7,8,9]],columns=["CD","DBMS","DSS","CAO","DM"])

In [11]:
df3 = pd.concat([df, df2], ignore_index=True)

In [12]:
df3

   CD  DBMS  DSS  CAO  DM
0  10    20   12   40  70
1  20    10   60   70  30
2  30    70   80   90  40
3   5     6    7    8   9

In [13]:
#adding columns in the dataframe

In [14]:
#Deleting record from the dataframe
df4=df3.drop(index=[1])

In [15]:
df4

   CD  DBMS  DSS  CAO  DM
0  10    20   12   40  70
2  30    70   80   90  40
3   5     6    7    8   9

In [16]:
#Deleting record from the dataframe in columns
df5=df3.drop(columns=["DM"])

In [17]:
df5

   CD  DBMS  DSS  CAO
0  10    20   12   40
1  20    10   60   70
2  30    70   80   90
3   5     6    7    8

In [18]:
#Finding means of DSS
print("Means of DSS:",df5["DSS"].mean())

Means of DSS: 39.75

In [19]:
print("Median of DSS:",df5["DSS"].median())

Median of DSS: 36.0

In [20]:
print("Mode of DSS:",df5["DSS"].mode())

Mode of DSS: 0     7
1    12
2    60
3    80
Name: DSS, dtype: int64

In [21]:
print("Min of DSS:",df5["DSS"].min())

Min of DSS: 7

In [22]:
print("Max of DSS:",df5["DSS"].max())

Max of DSS: 80

In [23]:
#Creating student name list
Name=["Gauri","Prashansha","Prerna","tejasvi","Purvakshi"]
Name

['Gauri', 'Prashansha', 'Prerna', 'tejasvi', 'Purvakshi']

In [24]:
#Creating a Series
Roll_list=pd.Series(Name,index=[1,2,3,4,5])
print(Roll_list)

1         Gauri
2    Prashansha
3        Prerna
4       tejasvi
5     Purvakshi
dtype: object